{% extends 'index2.html' %}




{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">SI.no</th>
      <th scope="col">engineer_name</th>
      <th scope="col">work_type</th>
      <th scope="col">email</th>
      <th scope="col">due_date</th>
      <th scope="col">fund_allocated</th>
        <th scope="col">DELETE</th>
        <th scope="col">UPDATE</th>

    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.engineer_name}}</td>
      <td>{{i.work_type}}</td>
      <td>{{i.email}}</td>
      <td>{{i.due_date}}</td>
      <td>{{i.fund_allocated}}</td>
      <td>
<form action="{% url 'del' i.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">DELETE</button>
</form>
      </td>
    <td>
        <a href="{% url 'upd' i.id %}" type="button" class="btn btn-success">update</a>
    </td>
    </tr>


{% endfor %}
</table>
{% endblock %}